<h1>About US</h1>
<p>This is an idea I am playing with.</p>
<p>The concept is to come up with a way to encourage group directed learning by voting on <em>waypoints</em> (topics) from different <em>trails</em> (lists of things to learn/do). </p>

<ul>
	<li>Meetup members vote on or highlight points on the trail that are causing difficulty or are of interest</li>
	<li>The next point on the trail that gets voted on gets a ‘visit’ (review, discussion) at the next meetup</li>
	<li>App could store documents, notes, comments, resources (e.g. the presentation used to discuss that point on the trail)</li>
	<li>Example: In the intermediate section (I’m not there yet) a point on the trail is "Use the asset pipeline effectively"</li>
	<li><em>I Need Help Figuring Out What To Do Next</em></li>
</ul>